<fs-examples [config]="config">
  <fs-example
      name="Kitchen Sink"
      title="Kitchen Sink"
      componentPath="advanced/kitchen-sink"
      componentName="kitchen-sink">
    <kitchen-sink></kitchen-sink>
  </fs-example>

  <fs-example
      name="Items: Select"
      title="Items: Select"
      componentPath="items/select-items"
      componentName="select-items">
    <select-items></select-items>
  </fs-example>
  <fs-example
      name="Items: Autocomplete"
      title="Items: Autocomplete"
      componentPath="items/autocomplete-items"
      componentName="autocomplete-items">
    <autocomplete-items></autocomplete-items>
  </fs-example>
  <fs-example
      name="Items: Autocomplete Chips"
      title="Items: Autocomplete Chips"
      componentPath="items/autocomplete-chips-items"
      componentName="autocomplete-chips-items">
    <autocomplete-chips-items></autocomplete-chips-items>
  </fs-example>
  <fs-example
      name="Items: Date"
      title="Items: Date"
      componentPath="items/date-items"
      componentName="date-items">
    <date-items></date-items>
  </fs-example>
  <fs-example
      name="Items: Range and Text"
      title="Items: Range and Text"
      componentPath="items/range-items"
      componentName="range-items">
    <range-items></range-items>
  </fs-example>
  <fs-example
      name="Items: Chips and Checkbox"
      title="Items: Chips and Checkbox"
      componentPath="items/chips-checkbox-items"
      componentName="chips-checkbox-items">
    <chips-checkbox-items></chips-checkbox-items>
  </fs-example>

  <fs-example
      name="Actions: Buttons"
      title="Actions: Buttons"
      componentPath="actions/action-buttons"
      componentName="action-buttons">
    <action-buttons></action-buttons>
  </fs-example>
  <fs-example
      name="Actions: Menus and Files"
      title="Actions: Menus and Files"
      componentPath="actions/action-menus"
      componentName="action-menus">
    <action-menus></action-menus>
  </fs-example>

  <fs-example
      name="Layout: Chips Only (no search)"
      title="Layout: Chips Only (no search)"
      componentPath="layout/chips-only"
      componentName="chips-only">
    <chips-only></chips-only>
  </fs-example>
  <fs-example
      name="Layout: Chips and Heading"
      title="Layout: Chips and Heading"
      componentPath="layout/chips-heading"
      componentName="chips-heading">
    <chips-heading></chips-heading>
  </fs-example>
  <fs-example
      name="Layout: Search, Primary and Chips"
      title="Layout: Search, Primary and Chips"
      componentPath="layout/primary-search-chips"
      componentName="primary-search-chips">
    <primary-search-chips></primary-search-chips>
  </fs-example>
  <fs-example
      name="Layout: Heading Only"
      title="Layout: Heading Only"
      componentPath="layout/heading-only"
      componentName="heading-only">
    <heading-only></heading-only>
  </fs-example>
  <fs-example
      name="Layout: Keyword Full Width"
      title="Layout: Keyword Full Width"
      componentPath="layout/keyword-full-width"
      componentName="keyword-full-width">
    <keyword-full-width></keyword-full-width>
  </fs-example>
</fs-examples>
