<fs-examples [config]="config">
  <fs-example
      name="Kitchen Sink"
      componentName="kitchen-sink">
    <kitchen-sink></kitchen-sink>
  </fs-example>
  <fs-example
      name="Chips Only (no search)"
      componentName="chips-only">
    <chips-only></chips-only>
  </fs-example>
  <fs-example
      name="Search + Primary + Chips"
      componentName="primary-search-chips">
    <primary-search-chips></primary-search-chips>
  </fs-example>
  <fs-example
      name="Heading Only"
      componentName="heading-only">
    <heading-only></heading-only>
  </fs-example>
</fs-examples>