:host {
  margin-bottom: 20px;
  display: block;
}

.filter-status-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  margin: 3px 0;

  .filter-status {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
  }
}

.filter-container {
  width: 100%;
}

.filter-inner-container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;

  .filter-left-container {
    min-width: 0;
  }

  .filter-inner-inputs {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 5px;
  }
}

.filter-actions {
  display: flex;
  align-items: center;   
  flex: 1;
  justify-content: flex-end;
}

.filter-toolbar {
  white-space: nowrap;
  display: flex;
  align-items: center;

  .button-filters,
  .button-reload {
    display: flex;

    --mdc-icon-button-state-layer-size: 40px;
    padding: 8px;

    ::ng-deep svg {
      display: flex;
    }
  }

  .filter-reload {
    margin-left: 10px;
    display: flex;
    align-items: center;

    .auto-reload {
      margin-right: 5px;

      span {
        font-size: 80%;
      }
    }
  }
}

.heading {
  margin-right: 10px;

  h2 {
    margin: 0;

    + .subheading {
      margin: 0;
    }
  }
}

.results {
  min-height: 90px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

fs-filter-chips {
  margin: 4px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

@media screen and (min-width: 1200px) {
  html.fs-filter-open body {
    margin-right: 350px;
  }
}

html.fs-filter-open {
  scrollbar-width: none;
}

:host ::ng-deep {
  .auto-reload {
    &.mat-checked {
      .mat-slide-toggle-thumb-container {
        transform: translate3d(12px, 0, 0);
      } 
    }

    &:not(.mat-checked) {
      .mat-slide-toggle-content {
        color: #ccc;
      }
    }

    .mat-slide-toggle-thumb,
    .mat-slide-toggle-thumb-container {
      height: 15px;
      width: 15px;
    }
    
    .mat-slide-toggle-content {
      font-size: 90%;
    }
    
    .mat-slide-toggle-bar {
      width: 26px;
      height: 10px;
      border-radius: 10px;
    }
  }
}