<div class="filter-container">
  <div class="filter-inner-container">
    <ng-container *ngIf="!hasKeyword">
      <ng-container *ngTemplateOutlet="statusBarContainer"></ng-container>
    </ng-container>

    <ng-container *ngIf="hasKeyword">
      <div class="filter-keyword">
        <form autocomplete="off" role="presentation" *ngIf="keywordVisible$ | async">
          <mat-form-field [floatLabel]="'never'" class="form-field-padless" ngClass="search" appearance="outline">
            <span matPrefix>
              <mat-icon matPrefix>search</mat-icon>
            </span>
            <input
              #searchTextInput
              matInput
              [formControl]="searchText"
              name="filter-input"
              [placeholder]="searchPlaceholder"
              (click)="filterInputEvent($event)">

            <div matSuffix *ngIf="searchText.value && showFilterInput && config.clear">
              <a
                mat-icon-button                
                (click)="clearSearchText($event)"
                class="clear">
                <mat-icon>clear</mat-icon>
              </a>
            </div>
          </mat-form-field>
        </form>
      </div>
    </ng-container>
    <div class="filter-toobar">
      <a 
          mat-icon-button
          (click)="reload($event)"
          class="reload"
          *ngIf="config.reload">
        <mat-icon>refresh</mat-icon>
      </a>
      <ng-container *ngIf="hasVisibleItemOrSorting && filtersBtnVisible$ | async">
        <a
            mat-button
            class="filters-button"
            [ngClass]="{
              'mat-raised-button': config.button.style === 'raised' && config.button.label,
              'mat-flat-button': config.button.style === 'flat' && config.button.label,
              'mat-stroked-button': config.button.style === 'stroked' && config.button.label,
              'mat-button': config.button.style === 'basic' && config.button.label,
              'mat-icon-button': config.button.style === 'icon' || !config.button.label  
            }"
            (click)="changeVisibilityClick(!showFilterMenu, $event)"
            [color]="config.button.color">
          <mat-icon *ngIf="config.button.icon">{{config.button.icon}}</mat-icon>
          {{ config.button.label }}
        </a>
      </ng-container>
    </div>

    <div class="filter-actions">
      <fs-filter-actions
        *ngIf="actionsVisible$ | async"
        [actions]="actions$ | async"
        [kebabActions]="menuActions$ | async">
      </fs-filter-actions>
    </div>
  </div>

  <ng-container *ngIf="hasKeyword">
    <ng-container *ngTemplateOutlet="statusBarContainer"></ng-container>
  </ng-container>

  <ng-container *ngIf="!hasKeyword">
    <ng-container [ngTemplateOutlet]="chips"></ng-container>
  </ng-container>
</div>


<ng-template #statusBarContainer>
  <ng-container *ngIf="statusBar">
    <div class="filter-status-container">
      <div class="filter-status">
        <ng-container *ngTemplateOutlet="statusBar"></ng-container>
      </div>
      <ng-container *ngIf="hasKeyword">
        <ng-container [ngTemplateOutlet]="chips"></ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #chips>
  <ng-container *ngIf="config.chips && hasFilterChips$ | async">
    <fs-filter-chips    
      class="filter-chips"
      [filters]="items">
    </fs-filter-chips>
  </ng-container>
</ng-template>