.fs-filter {
  margin-bottom: 20px;
  display: block;

  &:not(.has-keyword) .filter-inner-container {
    display: flex;
  }

  &:not(.has-keyword) .filter-toobar {
    justify-content: flex-end;
  }

  .filter-status-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;

    .filter-status {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 17px;
    }
  }

  .filter-inner-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;

    .filter-keyword {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      min-width: 0;

      mat-form-field {
        max-width: 100%;
        min-width: 100px;

        .mat-form-field-prefix {
          .mat-icon {
            font-size: 22px;
            color: #626262;
          }
        }

        .mat-form-field-infix {
          width: 250px;
        }

        .mat-form-field-prefix,
        .mat-form-field-suffix {
          top: 0.45em;
        }
      }

      .mat-form-field-wrapper {
        height: 100%;
      }

      .mat-form-field-suffix {
        display: flex;

        .mat-icon-button {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  .filter-actions {
    display: flex;
    align-items: center;
  }

  .filter-toobar {
    flex: 1;
    white-space: nowrap;
    display: flex;
    align-items: center;

    a {
      width: 36px;
      line-height: 36px;
    }
  }

  .results {
    min-height: 90px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  fs-filter-chips {
    margin-top: 4px;
    display: block;
  }

}

@media screen and (min-width: 599px) {
  .filter-actions {
    margin-left: 10px;
  }

  .filters-button+fs-filter-actions:not(:empty) {
    margin-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .filter-actions {
    margin-left: 5px;

    .filters-button {
      font-size: 0;
      padding: 0;
      min-width: unset;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      box-shadow: unset !important;
    }
  }
}

@media screen and (min-width: 1200px) {
  body.fs-filter-open {
    margin-right: 350px;
  }

  .fs-filter-backdrop {
    display: none;
  }
}

body.fs-filter-open {
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}