<div class="filter-container">
  @if (notInlineToolbar$ | async) {
    <ng-container *ngTemplateOutlet="heading"></ng-container>
  }
  <div class="filter-inner-container">
    @if (notInlineToolbar$ | async) {
      <div class="filter-inner-inputs">
        @if (keywordVisible$ | async) {
          <fs-keyword-input [autofocus]="config.autofocus"></fs-keyword-input>
        }
        @if (savedFilterController.enabled) {
          <fs-saved-filter-autocomplete-chips [savedFiltersController]="savedFilterController"></fs-saved-filter-autocomplete-chips>
        }
      </div>
    } @else {
      <div>
        <ng-container *ngTemplateOutlet="heading"></ng-container>
        <ng-container *ngTemplateOutlet="filterStatusBarChips"></ng-container>
      </div>
    }
    <ng-container [ngTemplateOutlet]="filterToolbar"></ng-container>
    <ng-container [ngTemplateOutlet]="filterActions"></ng-container>
  </div>
  @if (notInlineToolbar$ | async) {
    <ng-container *ngTemplateOutlet="filterStatusBarChips"></ng-container>
  }
</div>
<ng-template #filterStatusBarChips>
  @if (statusBar) {
    <div
        class="filter-status-container"
        [ngClass]="{ 'has-status': !!filterStatus.textContent }">
      <div
          class="filter-status"
          #filterStatus>
        <ng-container *ngTemplateOutlet="statusBar.templateRef"></ng-container>
      </div>
    </div>
  }
  @if (config.chips) {
    <fs-filter-chips class="filter-chips"></fs-filter-chips>
  }
</ng-template>
<ng-template #filterActions>
  @if (actionsVisible$ | async) {
    <div class="filter-actions">
      <fs-filter-actions
        [actions]="actions$ | async"
        [kebabActions]="menuActions$ | async">
      </fs-filter-actions>
    </div>
  }
</ng-template>
<ng-template #filterToolbar>
  @if (config.reload || config.autoReload || ((filtersBtnVisible$ | async) && hasVisibleItemOrSorting)) {
    <div class="filter-toolbar">
      @if ((filtersBtnVisible$ | async) && hasVisibleItemOrSorting) {
        <a
            mat-icon-button
            class="button-filters"
            (click)="filterButtonClick($event)"
            [color]="config.button.color">
          @if (config.button.icon) {
            <mat-icon [svgIcon]="'filterOutline'"></mat-icon>
          }
        </a>
      }
      @if (config.reload) {
        <a
            mat-icon-button
            (click)="reload($event)"
            class="button-reload">
          <mat-icon #reloadEl>
            refresh
          </mat-icon>
        </a>
      }
      @if (config.autoReload) {
        <div class="filter-reload">
          @if (config.autoReload) {
            <mat-slide-toggle
                name="autoReload"
                class="auto-reload"
                [(ngModel)]="autoReload">
              <span>
                Auto refresh
              </span>
            </mat-slide-toggle>
          }
        </div>
      }
    </div>
  }
</ng-template>
<ng-template #heading>
  @if (config.heading) {
    <div class="heading">
      <h2>
        {{ config.heading }}
      </h2>
      <div class="subheading">
        {{ config.subheading }}
      </div>
    </div>
  }
</ng-template>