:host {
  margin-bottom: 20px;
  display: block;
}

.filter-status-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 4px;

  .filter-status {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.filter-container {
  width: 100%;
  
  &.has-primary-filter {
    .heading {
      margin-bottom: 10px;
    }

    .filter-bar-container {
      margin-bottom: 4px;
    }
  }

  &.keyword-full-width {
    .filter-input-container {
      flex: 1;

      fs-keyword-input {
        flex: 1;

        ::ng-deep mat-form-field {
          width: 100%;
        }
      }
    }
  }

  .filter-bar-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: flex-start;

    .filter-input-container {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      min-width: 0;
      column-gap: 5px;
      row-gap: 10px;
      flex-wrap: wrap;
    }

    .filter-heading-container {
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      min-width: 0;
      
      fs-keyword-input + fs-saved-filter-autocomplete-chips {
        margin-left: 5px;
      }
    }
  }
}

.filter-actions {
  display: flex;
  align-items: center;   
  flex: 1;
  justify-content: flex-end;
}

.filter-toolbar {
  white-space: nowrap;
  display: flex;
  align-items: center;

  .button-filters,
  .button-reload {
    display: flex;

    --mdc-icon-button-state-layer-size: 40px;
    padding: 8px;

    ::ng-deep svg {
      display: flex;
    }
  }

  .button-reload {
    display: flex;
    align-items: center;

    .auto-reload {
      margin-right: 5px;

      span {
        font-size: 80%;
      }
    }
  }
}

.heading {
  margin-right: 8px;

  h2 {
    margin: 0;

    + .subheading {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  html.fs-filter-open body {
    margin-right: 350px;
  }
}

html.fs-filter-open {
  scrollbar-width: none;
}

:host ::ng-deep {
  .auto-reload {
    &.mat-checked {
      .mat-slide-toggle-thumb-container {
        transform: translate3d(12px, 0, 0);
      } 
    }

    &:not(.mat-checked) {
      .mat-slide-toggle-content {
        color: #ccc;
      }
    }

    .mat-slide-toggle-thumb,
    .mat-slide-toggle-thumb-container {
      height: 15px;
      width: 15px;
    }
    
    .mat-slide-toggle-content {
      font-size: 90%;
    }
    
    .mat-slide-toggle-bar {
      width: 26px;
      height: 10px;
      border-radius: 10px;
    }
  }
}