<ng-template [ngIf]="item.values?.length">
  <ng-container *ngIf="item.multiple && !item.children">
    <filter-item-select-multiple [item]="item" (change)="selectChange()" #selectItem>
    </filter-item-select-multiple>
  </ng-container>

  <ng-container *ngIf="!item.multiple && !item.children">
    <filter-item-select-simple [item]="item" (change)="selectChange()" #selectItem>
    </filter-item-select-simple>
  </ng-container>

  <ng-container *ngIf="item.children">
    <filter-item-select-groups [item]="item" (change)="selectChange()" #selectItem>
    </filter-item-select-groups>
  </ng-container>
</ng-template>

<ng-template [ngIf]="item.initialLoading">{{ item.label }} loading...</ng-template>
