<mat-form-field
    [ngClass]="{ isolate: item.isolate }"
    [floatLabel]="floatLabel"
    class="form-field-padless">
  <mat-label>
    {{ item.label }}
  </mat-label>
  <mat-select
      [fsFilterFocusTrigger]="autofocus"
      [(ngModel)]="value"
      (ngModelChange)="changed()"
      [multiple]="item.multiple">
    @if (item.children) {
      @for (option of item.values$ | async; track option) {
        @if (option[item.children]) {
          <mat-optgroup [label]="option.name">
            @for (childOption of option[item.children]; track childOption.value) {
              <mat-option [value]="childOption.value">
                {{ childOption.name }}
              </mat-option>
            }
          </mat-optgroup>
        } @else {
          <mat-option [value]="option.value">
            {{ option.name }}
          </mat-option>
        }
      }
    } @else {
      @for (option of item.values$ | async; track option) {
        <mat-option [value]="option.value">
          {{ option.name }}
        </mat-option>
      }
    }
  </mat-select>
  <mat-hint>
    @if (item.isolate) {
      <mat-checkbox
          (change)="isolateChange($event)"
          [(ngModel)]="item.isolated">
        <span class="checkbox-label">
          {{ item.isolateLabel }}
        </span>
      </mat-checkbox>
    }
  </mat-hint>
</mat-form-field>