<fs-autocomplete-chips
    [fsFilterFocusTrigger]="autofocus"
    [fetch]="fetch"
    [(ngModel)]="value"
    [floatLabel]="floatLabel"
    (clear)="clear()"
    [allowText]="false"
    [padless]="true"
    [label]="item.label"
    [size]="'small'"
    [chipImage]="item.chipImage"
    [chipColor]="item.chipColor"
    [chipIconColor]="item.chipIcon"
    [chipBackground]="item.chipBackground"
    [chipIcon]="item.chipIcon"
    [chipClass]="item.chipClass"
    [allowClear]="item.clearable"
    [removable]="item.clearable"
    [compareWith]="compareItems"
    name="model">
  <ng-template
      fsAutocompleteObject
      let-object="object">
    {{ object.name }}
  </ng-template>
  @for (action of item.panelActions; track action.label) {
    <ng-template
        fsAutocompleteChipsStatic
        (click)="actionClick(action)">
      {{ action.label }}
    </ng-template>
  }
</fs-autocomplete-chips>