<fs-autocomplete-chips
    [fsFilterFocusTrigger]="autofocus"
    [fetch]="fetch"
    [(ngModel)]="value"
    (ngModelChange)="modelChange()"
    [disabled]="disabled"
    [floatLabel]="floatLabel"
    (clear)="clear()"
    [allowText]="false"
    [padless]="true"
    [label]="item.label"
    [multiple]="item.multiple"
    [shape]="item.shape"
    [chipImage]="item.chipImage"
    [chipColor]="item.chipColor"
    [chipIconColor]="item.chipIcon"
    [chipBackground]="item.chipBackground"
    [chipIcon]="item.chipIcon"
    [chipClass]="item.chipClass"
    [allowClear]="item.clearable"
    [removable]="item.clearable"
    [compareWith]="compareItems"
    (panelClosed)="panelClosed()"
    (removed)="removed()"
    name="model">
  <ng-template
      fsAutocompleteObject
      let-object="object">
    {{ item.template ? item.template(object) : object.name }}
  </ng-template>
  <!--
    Declared only when configured: an empty subtemplate is still a subtemplate, and every
    chip would grow a blank second line.
  -->
  @if (item.subTemplate) {
    <ng-template
        fsAutocompleteChipsSubtemplate
        let-object="object">
      {{ item.subTemplate(object) }}
    </ng-template>
  }
  @for (action of item.panelActions; track action.label) {
    <ng-template
        fsAutocompleteChipsStatic
        (click)="actionClick(action)">
      {{ action.label }}
    </ng-template>
  }
</fs-autocomplete-chips>
