<fs-autocomplete-chips
  [fsFilterFocusTrigger]="item"
  [fetch]="fetch"
  [ngModel]="item.model"
  (selected)="addAutocompleteChipItem($event)"
  (removed)="removeAutocompleteChipItem($event)"
  (clear)="clearAutocompleteChipItem()"
  (click)="clicked()"
  [allowText]="false"
  [fetchOnFocus]="item.fetchOnFocus"
  [placeholder]="item.label"
  [chipImage]="item.chipImage"
  [chipColor]="chipColor"
  [chipIconColor]="chipIcon"
  [chipBackground]="chipBackground"
  [chipIcon]="item.chipIcon"
  [chipClass]="item.chipClass"
  [allowClear]="item.clearAllowed"
  [removable]="item.clearAllowed"
  name="model">
  <ng-template fsAutocompleteObject let-object="object">
    {{ object.name }}
  </ng-template>
</fs-autocomplete-chips>

<!--<mat-form-field floatLabel="auto">
  <mat-label>{{item.label}}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of item.model"
              (removed)="removeAutocompleteChipItem(item)">
      {{ item.name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input #chipsInput
           type="text"
           matInput
           [(ngModel)]="item.selectedValue"
           (ngModelChange)="onAutocompleteChipsChange(chipsInput)"
           [name]="item.name"
           [matChipInputFor]="chipList"
           [matAutocomplete]="autocompleteChipsInput">
  </mat-chip-list>

  <mat-autocomplete #autocompleteChipsInput="matAutocomplete"
                    (optionSelected)="addAutocompleteChipItem( $event)"
  >
    <mat-option *ngFor="let item of item.values$ | async" [value]="item">
      {{ item.name }}
    </mat-option>
  </mat-autocomplete>
  <mat-placeholder *ngIf="inline">{{ item.label }}</mat-placeholder>
</mat-form-field>-->
