<!-- <mat-form-field floatLabel="auto">
  <mat-label>{{item.label}}</mat-label>
  <input matInput type="text" [(ngModel)]="item.model"
         (ngModelChange)="onAutocompleteChange()" name="{{ item.name }}"
         [matAutocomplete]="autocompleteInput">
  <mat-autocomplete #autocompleteInput="matAutocomplete" [displayWith]="displayAutocomplete">
    <mat-option *ngFor="let item of item.values$ | async" [value]="item">{{ item.name }}
    </mat-option>
  </mat-autocomplete>
  <mat-placeholder *ngIf="inline">{{ item.label }}</mat-placeholder>
</mat-form-field>
 -->

<fs-autocomplete
  [fetch]="fetch"
  [displayWith]="displayWith"
  [(ngModel)]="item.model"
  [placeholder]="item.label"
  (ngModelChange)="ngModelChange()"
  name="item.name">
  <ng-template fsAutocompleteTemplate let-data="data">
    {{data.name}}
  </ng-template>
</fs-autocomplete>