<fs-filter [config]="conf">
  <ng-template fsFilterStatusBar>
    <small>
      Showing 4 results 
        sorted by
      <a
          class="order-toggle"
          [fsMenuTriggerFor]="sortMenu">
        {{ sort?.value || 'unsorted' }}
      </a>
      @if (sort?.value) {
        <a
            class="order-toggle"
            (click)="filter.updateSort({ sortBy: sort.value, sortDirection: sort.direction === 'asc' ? 'desc' : 'asc' })">
          {{ sort.direction || 'asc' }}
        </a>
      }
      <fs-menu #sortMenu>
        @for (item of sorts; track item.value) {
          <ng-template
              fs-menu-item
              (click)="filter.updateSort({ sortBy: item.value, sortDirection: sort.direction })">
            {{ item.name }}
          </ng-template>
        }
      </fs-menu>
    </small>
  </ng-template>
  <!-- <ng-template fsFilterHeading>
    Custom heading
  </ng-template> -->
</fs-filter>
@if (query) {
  <fieldset>
    <legend>
      Filter values
    </legend>
    {{ query | json }}
  </fieldset>
}
<br>
<div>
  <button
      mat-stroked-button
      (click)="filter.updateSort({ sortBy: 'name', sortDirection: 'desc' })">
    Update Sort
  </button>
</div>