:host  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  max-width: 100%;
  margin-top: 4px;
}

.saved-filters-select,
.clear {
  display: flex;
  color: inherit;
  height: 30px;

  &.clear {
    padding: 0 10px;
  }

  ::ng-deep {
    .mat-mdc-select-value {
      padding: 0 10px;
    }

    .mat-mdc-select-arrow-wrapper {
      padding-right: 10px;
    }
  }
}