:host  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  max-width: 100%;
  margin-top: 4px;
  z-index: 999;
}

.saved-filters-select,
.more-filters-select,
.clear {
  display: flex;
  height: 30px;
  font-size: 90%;

  &.clear {
    padding: 0 10px;
  }

  ::ng-deep {
    .mat-mdc-select-value {
      padding: 0 5px;
    }

    .mat-mdc-select-arrow-wrapper {
      padding-right: 10px;
    }
  }
}

::ng-deep .mat-mdc-select-panel.fs-filter-no-initial-focus .mat-mdc-option-active:not(:hover) {
  background: transparent !important;
}