<div class="range-container" fxLayout="row">
   <mat-form-field floatLabel="auto">
      <mat-label>{{item.label[0]}}</mat-label>
      <input
        matInput
        [fsDateRangeFrom]="item.name"
        [(ngModel)]="item.model.from"
        (ngModelChange)="itemChange()"
        view="date"
        name="date_from">
  </mat-form-field>

  <fs-date-range-separator></fs-date-range-separator>

  <mat-form-field floatLabel="auto">
    <mat-label>{{item.label[1]}}</mat-label>
    <input
      matInput
      [fsDateRangeTo]="item.name"
      [(ngModel)]="item.model.to"
      (ngModelChange)="itemChange()"
      view="date"
      name="date_to">
  </mat-form-field>
</div>