@for (chip of chips; track chip) {
  <fs-chip
      [selectable]="false"
      [removable]="item.showClear && removable"
      size="small"
      (click)="click(chip)"
      (removed)="remove(chip)">
    {{ chip.label }}: {{ chip.value }}
  </fs-chip>
}
<!-- {{ item.name }}
@if ((chipDelayedRender$ | async)) {
  @if (rangeItem) {
    @if (item.value?.min || item.value?.from) {
      <fs-chip
          [value]="item"
          [selectable]="false"
          [removable]="item.showClear"
          size="small"
          [removable]="removable"
          (click)="click('from')"
          (removed)="removeItem($event, 'from')">
        <ng-template
          [ngTemplateOutlet]="chipContent"
          [ngTemplateOutletContext]="{ item: item, type: 'from' }">
        </ng-template>
      </fs-chip>
    }
    @if (item.value?.max || item.value?.to) {
      <fs-chip
          [value]="item"
          [selectable]="false"
          [removable]="item.showClear && removable"
          size="small"
          (click)="click('to')"
          (removed)="removeItem($event, 'to')">
        <ng-template
          [ngTemplateOutlet]="chipContent"
          [ngTemplateOutletContext]="{ item: item, type: 'to' }">
        </ng-template>
      </fs-chip>
    }
  } @else {
    <fs-chip
        [value]="item"
        [selectable]="false"
        [removable]="item.showClear && removable"
        size="small"
        (click)="click()"
        (removed)="removeItem($event)">
      <ng-template
        [ngTemplateOutlet]="chipContent"
        [ngTemplateOutletContext]="{ item: item }">
      </ng-template>
    </fs-chip>
  }
  <ng-template
      #chipContent
      let-item="item"
      let-type="type">
    @if (!item.hasPendingValues && !item.loading) {
      <fs-filter-chip-content
        [item]="item"
        [type]="type">
      </fs-filter-chip-content>
    } @else {
      Loading...
    }
  </ng-template>
} -->