<ng-container *ngIf="rangeItem; else defaultChip">
  <fs-chip
    *ngIf="item.model?.min || item.model?.from"
    [value]="item"
    [selectable]="false"
    [removable]="item.clearAllowed"
    size="small"
    (click)="focusOnItem('from')"
    (removed)="removeItem($event, 'from')">
    <ng-template
      [ngTemplateOutlet]="chipContent"
      [ngTemplateOutletContext]="{ item: item, type: 'from' }"
    ></ng-template>
  </fs-chip>

  <fs-chip
    *ngIf="item.model?.max || item.model?.to"
    [value]="item"
    [selectable]="false"
    [removable]="item.clearAllowed"
    size="small"
    (click)="focusOnItem('to')"
    (removed)="removeItem($event, 'to')">
    <ng-template
      [ngTemplateOutlet]="chipContent"
      [ngTemplateOutletContext]="{ item: item, type: 'to' }"
    ></ng-template>
  </fs-chip>

</ng-container>

<ng-template #defaultChip>
  <fs-chip
    *ngIf="itemVisible"
    [value]="item"
    [selectable]="false"
    [removable]="item.clearAllowed"
    size="small"
    (click)="focusOnItem()"
    (removed)="removeItem($event)">
    <ng-template
      [ngTemplateOutlet]="chipContent"
      [ngTemplateOutletContext]="{ item: item }"
    ></ng-template>
  </fs-chip>
</ng-template>

<ng-template #chipContent let-item="item" let-type="type">
  <ng-container *ngIf="!item.hasPendingValues && !item.loading; else lodaingValues">
    <fs-filter-chip-content [item]="item" [type]="type"></fs-filter-chip-content>
  </ng-container>

  <ng-template #lodaingValues>
    loading...
  </ng-template>
</ng-template>


