<form
    fsForm
    [submit]="saveSavedFilter"
    [dirtySubmitButton]="false">
  <div class="filters">
    <div class="filters-wrap">
      @if (savedFiltersController.activeFilter$ | async) {
        <div class="filter-heading">
          <mat-icon>
            {{ savedFiltersController.labelIcon }}
          </mat-icon>
          <span class="text">
            {{ savedFiltersController.singularLabel }}
          </span>
        </div>
        <div class="filter-name">
          <mat-form-field>
            <mat-label>
              {{ savedFiltersController.singularLabel }} name
            </mat-label>
            <input
              matInput
              required
              [(ngModel)]="savedFilterName"
              name="savedFilterName">
          </mat-form-field>
          <hr>
          <br>
        </div>
      } @else {
        <div class="filter-heading">
          <mat-icon svgIcon="filterOutline"></mat-icon>
          <span class="text">
            Filters
          </span>
        </div>
      }
      <div class="overflow-shadow filter-items">
        <div class="overflow-shadow-content">
          @for (filterItem of items$ | async; track filterItem) {
            <filter-item
              class="filter-group"
              [item]="filterItem">
            </filter-item>
          }
        </div>
      </div>
      <fs-filter-drawer-actions
        [savedFiltersController]="savedFiltersController"
        class="filter-actions"
        (clear)="clear()"
        (done)="done()">
      </fs-filter-drawer-actions>
    </div>
  </div>
  @if (!windowDesktop) {
    <div
      class="backdrop"
      (click)="backdropClick()">
    </div>
  }
</form>