
:host ::ng-deep {
  mat-form-field {
    width: 100%;
  }
}

.filter-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 30px 10px 30px;

  mat-icon {
    margin-right: 8px;
  }

  .text {
    font-weight: 400;
    font-size: 19px;
  }
}

.filter-actions {
  box-sizing: border-box;
  padding: 18px 13px;

  button {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.filters {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  z-index: 1002;
  bottom: 0;

  .filters-wrap {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    width: 85vw;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .filter-items {
      overflow-y: auto;
      padding: 10px 30px 0;
      box-sizing: border-box;
    }
  }

  .filter-group {
    margin: 10px 0 0 0;

    &:first-child {
      margin: 0;
    }
  }

  .filter {

    //TODO
    label {
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.54);
    }

    .interface {

      &.interface-range input, &.interface-range .mat-input-wrapper {
        text-align: center;
      }

      &.interface-range {
        text-align: center;
      }

      //TODO
      &.interface-datetime fs-datetime.has-time .md-input {
        width: 100%;
      }
      //TODO
      fs-datetime-range input {
        text-align: center;
      }
    }

    .filter-label {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      padding-right: 15px;
    }
  }

  //TODO
  md-autocomplete-container md-input-container {
    margin: 0;
  }

  .isolate {
    margin-top: -12px;
    .interface {
      line-height: 20px;
      padding-bottom: 1.25em;
    }
    //TODO
    md-checkbox {
      margin: 0 0 0 2px;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  outline: none;
}
