<div class="filters">
  <div class="filters-wrap">

    <div class="filter-by">
      <mat-icon>tune</mat-icon>
      <span class="text">Filters</span>
    </div>

    <div class="overflow-shadow filter-items">
      <div class="overflow-shadow-content">
        <filter-item *ngFor="let filterItem of items"
                    class="filter-group"
                    [item]="filterItem">
        </filter-item>

        <ng-container *ngIf="sortItem && sortItem.values && sortItem.values.length > 0">
          <filter-item class="filter-group sort"
                      [item]="sortItem">
          </filter-item>
          <filter-item class="filter-group sort"
                      [item]="sortDirectionItem">
          </filter-item>
        </ng-container>
      </div>
    </div>

    <div class="filter-actions">
      <button type="button" mat-button color="primary" (click)="done()">Done</button>
      <button type="button" mat-button (click)="clear()">Clear</button>
    </div>
  </div>
</div>
<div class="backdrop" *ngIf="!windowDesktop" (click)="backdropClick()"></div>
