<div class="filters">
  <div class="filters-wrap">

    <div class="filter-by">
      <mat-icon>tune</mat-icon>
      <span class="text">Filters</span>
    </div>

    <div class="overflow-shadow filter-items">
      <div class="overflow-shadow-content">
        <ng-container *fsSkeleton="(externalParams.pending$ | async) !== true">
          <filter-item 
            *ngFor="let filterItem of items$ | async"
            class="filter-group"
            [item]="filterItem">
          </filter-item>

          <ng-container *ngIf="sortItem && sortItem.values && sortItem.values.length > 0">
            <filter-item 
              class="filter-group sort"
              [item]="sortItem">
            </filter-item>
            <filter-item 
              class="filter-group sort"
              [item]="sortDirectionItem">
            </filter-item>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <fs-filter-drawer-actions 
      class="filter-actions"
      *ngIf="(externalParams.pending$ | async) !== true"
      (clear)="clear()"
      (done)="done()">
    </fs-filter-drawer-actions>
  </div>
</div>
<div class="backdrop" *ngIf="!windowDesktop" (click)="backdropClick()"></div>
