<form
    fsForm
    [submit]="save">
  <h1 mat-dialog-title>
    Save filter
  </h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>
        Save as
      </mat-label>
      <mat-select
          [(ngModel)]="saveAsFilter"
          name="saveAs">
        <mat-option value="new">
          New filter
        </mat-option>
        @if (savedFilters.length) {
          <mat-optgroup label="Saved filters">
            @for (filter of savedFilters; track filter) {
              <mat-option [value]="filter">
                {{ filter.name }}
              </mat-option>
            }
          </mat-optgroup>
        }
      </mat-select>
    </mat-form-field>
    <br>
    @if (saveAsFilter === 'new') {
      <mat-form-field>
        <mat-label>
          Name
        </mat-label>
        <input
          matInput
          name="filter-name"
          [(ngModel)]="savedFilterName"
          required>
      </mat-form-field>
    }
  </div>
  <div mat-dialog-actions>
    <button
        mat-button
        type="submit"
        color="primary">
      {{ saveAsFilter === 'new' ? 'Create' : 'Save' }}
    </button>
    <button
        mat-button
        type="button"
        [mat-dialog-close]="null">
      Cancel
    </button>
  </div>
</form>