<mat-form-field [ngClass]="{ isolate: !!item.isolate }">
  <mat-label>
    {{ item.label }}
  </mat-label>
  <mat-select
      #select
      [fsFilterFocusTrigger]="item"
      [(ngModel)]="item.model"
      (ngModelChange)="changed()">
    <mat-option
        *ngFor="let item of item.values | fsFilterIsolateValues: item.isolate"
        [value]="item.value">
      {{ item.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
@if (item.isolate) {
  <mat-checkbox
      (change)="isolateChange(item)"
      [(ngModel)]="item.isolate.enabled">
    <span class="checkbox-label">
      {{ item.isolate.label }}
    </span>
  </mat-checkbox>
}