<mat-form-field [ngClass]="{ isolate: item.isolate }">
  <mat-label>{{item.label}}</mat-label>
  <mat-select
    #select
    [(ngModel)]="item.model"
    (ngModelChange)="changed($event)">
    <mat-option *ngFor="let item of item.values" [value]="item.value" [ngStyle]="item.style">
      {{ item.name }}
    </mat-option>
  </mat-select>

  <mat-hint>
    <div *ngIf="item.isolate">
      <mat-checkbox (change)="isolateChange(item)" [(ngModel)]="item.isolate.enabled">
        <span class="checkbox-label">{{ item.isolate.label }}</span>
      </mat-checkbox>
    </div>
  </mat-hint>
</mat-form-field>
