<ng-container [ngSwitch]="action.type">
  <button
      type="button"
      *ngSwitchCase="ActionType.Icon"
      mat-icon-button
      (click)="action.click && action.click($event)"
      [color]="action.color"
      [ngClass]="action.classArray"
      [disabled]="action.disabled$ | async"
      [tabIndex]="action.tabIndex">
    <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
  </button>

  <!-- Fab button -->
  <button 
      type="button"
      *ngSwitchCase="ActionType.Fab"
      mat-fab
      (click)="action.click && action.click($event)"
      [color]="action.color"
      [ngClass]="action.classArray"
      [disabled]="action.disabled$ | async"
      [tabIndex]="action.tabIndex">
    <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
  </button>

  <!-- Mini Fab button -->
  <button 
      type="button"
      *ngSwitchCase="ActionType.MiniFab"
      mat-mini-fab
      (click)="action.click && action.click($event)"
      [color]="action.color"
      [ngClass]="action.classArray"
      [disabled]="action.disabled$ | async"
      [tabIndex]="action.tabIndex">
    <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
  </button>

  <button 
      type="button"
      *ngSwitchDefault
      mat-button
      class="button-basic"
      [ngClass]="{        
        'mat-mdc-raised-button': action.type === ActionType.Raised,
        'mat-mdc-unelevated-button': action.type === ActionType.Flat,
        'mat-mdc-outlined-button': action.type === ActionType.Stroked,
        'mat-mdc-icon-button': action.type === ActionType.Icon,
        'icon-placement-right': action.iconPlacement === 'right'
      }"
      (click)="action.click && action.click($event)"
      [color]="action.color"
      [class]="action.classArray.join(' ')"
      [disabled]="action.disabled$ | async"
      [tabIndex]="action.tabIndex">
    <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
  </button>

  <ng-template #buttonContent>
    <ng-container *ngIf="!action.icon else withIcon">
      {{action.label}}
    </ng-container>

    <ng-template #withIcon>
      <mat-icon>{{action.icon}}</mat-icon>
      {{action.label}}
    </ng-template>
  </ng-template>
</ng-container>
