<a [fsMenuTriggerFor]="menu" class="selector">{{ (activeFilter$ | async)?.name || 'None' }}</a>

<fs-menu #menu>
  <ng-template fs-menu-item (click)="removeActiveFilter()">
    None
  </ng-template>
  @if ((filters$ | async).length !==0) {
    @for (filter of filters$ | async; track filter) {
      <ng-template fs-menu-item (click)="selectFilter(filter)">
        {{ filter.name }}
      </ng-template>
    }
    <ng-template fs-menu-divider-item></ng-template>
  }

  <ng-template
    fs-menu-item
    (click)="saveFilters()">
    Save
  </ng-template>

  <ng-template
    fs-menu-item
    (click)="manageFilters()">
    Manage
  </ng-template>
</fs-menu>
