<div class="form-field">
  <mat-form-field
      class="filter-range-min"
      [floatLabel]="'always'"
      class="form-field-padless">
    <mat-label>
      {{ item.label[0] }}
    </mat-label>
    @if (item.prefix) {
      <span
        matTextPrefix
        class="text-prefix"
        [innerHtml]="item.prefix">
      </span>
    }
    <input
      matInput
      [fsFilterFocusTrigger]="autofocusName === 'min'"
      type="number"
      [(ngModel)]="min"
      (ngModelChange)="change()"
      #from>
    @if (item.suffix) {
      <span
        matSuffix
        class="text-suffix"
        [innerHtml]="item.suffix">
      </span>
    }
  </mat-form-field>
  <mat-form-field
      class="filter-range-max"
      [floatLabel]="'always'"
      class="form-field-padless">
    <mat-label>
      {{ item.label[1] }}
    </mat-label>
    @if (item.prefix) {
      <span
        matTextPrefix
        class="text-prefix"
        [innerHtml]="item.prefix">
      </span>
    }
    <input
      matInput
      [fsFilterFocusTrigger]="autofocusName === 'max'"
      type="number"
      [(ngModel)]="max"
      (ngModelChange)="change()"
      #to>
    @if (item.suffix) {
      <span
        matSuffix
        class="text-suffix"
        [innerHtml]="item.suffix">
      </span>
    }
  </mat-form-field>
</div>