<div class="fs-filter" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="config?.items?.length"
     [ngClass]="{
     'filters-open': showFilterMenu,
     loading: loading,
     'no-input': !showFilterInput
     }"
>
  <div *ngIf="!config.inline" fxLayou="row" fxLayoutAlign="start center" class="menu-filter" fxFlex>
    <div class="menu-filter-input" fxFlex="grow">
      <div class="main-filter-bar" fxLayout="row" fxLayoutAlign="start center"
           *ngIf="config.items.length">
        <mat-form-field class="filter-input" floatLabel="never">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput [(ngModel)]="searchText" name="filter-input"
                 (ngModelChange)="modelChange(searchText)">
          <mat-placeholder>Search</mat-placeholder>

          <mat-icon class="action-clear"
                    matSuffix
                    *ngIf="searchText && showFilterInput"
                    (click)="clearSearchInput()">
            clear
          </mat-icon>
          <mat-icon class="action-reload" matSuffix (click)="reload()">refresh</mat-icon>
          <mat-icon class="action-filter" matSuffix (click)="switchFilterVisibility()">filter_list</mat-icon>
          <span class="active-filters-counter"
                matSuffix
                *ngIf="activeFiltersCount > 0">
            ( {{ activeFiltersCount }} )
          </span>
          <span class="active-filters-counter with-input"
                matSuffix
                *ngIf="activeFiltersWithInputCount > 0">
            ( {{ activeFiltersWithInputCount }} )
          </span>
        </mat-form-field>

        <filters-list [items]="config.items"
                      [showSortBy]="showSortBy"
                      [sortBy]="config.sortByItem"
                      [sortDirection]="config.sortDirectionItem"
                      [inline]="config.inline"
                      (filterChanged)="filterChange($event)"
                      (search)="search()"
                      (clear)="clear()">
        </filters-list>
        <!--<div class="inline-actions" fxLayout="row" fxLayoutAlign="start center">
          <a class="action-clear" (click)="clearSearchInput()" *ngIf="searchText && showFilterInput">
            <mat-icon>clear</mat-icon>
          </a>
          <a (click)="reload()" class="action-reload">
            <mat-icon>refresh</mat-icon>
          </a>
          <a (click)="switchFilterVisibility()" class="action-filter">
            <mat-icon>filter_list</mat-icon>
          </a>
          <span class="active-filters-counter" *ngIf="activeFiltersCount > 0">( {{ activeFiltersCount }} )</span>
          <span class="active-filters-counter with-input" *ngIf="activeFiltersWithInputCount > 0">( {{ activeFiltersWithInputCount }} )</span>
        </div>-->
      </div>
      <div class="backdrop" *ngIf="showFilterMenu" (click)="switchFilterVisibility()"></div>

      <!--<div class="backdrop" *ngIf="extendedFilter" (click)="filterToggle(false,true)"></div>-->
    </div>
  </div>

  <div *ngIf="config.inline" class="inline-filter" [ngClass]="{'inline': config.inline}">
    <filters-list [items]="config.items"
                  [sortBy]="config.sortByItem"
                  [inline]="config.inline"
                  (filterChanged)="filterChange($event)"
                  (search)="search()">
    </filters-list>
  </div>
</div>
