@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fs-filter {
  position: relative;
  margin-bottom: 20px;

  .inline-filter {
    display: inline-block;
    .filter-group {
      display: inline-block;
    }
  }

  .title {
    display: none;
  }

  &.no-input {
    .filter-input {
      .mat-input-prefix,
      .mat-input-infix,
      .mat-input-underline {
        display: none !important;
      }
    }
  }

  .sort {
    display: none !important;
  }

  .results {
    min-height: 90px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .status {
    position: relative;

    .progress-infinite {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .full-search {
    .filter.filter-date {
      > span {
        display: inline-block
      }
    }
  }

  .filter-by {
    display: none;
  }

  .menu-filter {

    position: relative;
    
    .search {
      top: 8px;
      position: absolute;
      margin-left: 1px;
      left: 0;

      mat-icon {
        transform: scale(.9);
      }
    }

    .backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 69;
      outline: none;
    }

    .menu-filter-input {

      //position: relative;

      .inline-actions {
        //white-space: nowrap;
        ////position: absolute;
        ////right: 0;
        ////top: 5px;
        //
        //a {
        //  color: rgba(0, 0, 0, 0.54);
        //  background: #fff;
        //  height: 22px;
        //
        //  i {
        //    transform: scale(.9);
        //    vertical-align: middle;
        //  }
        //
        //  &:hover {
        //    color: inherit;
        //  }
        //}
      }
      /*
      .action-filter {
        display: none;
      }
      */

      mat-form-field {
        width: 100%;
      }

      /*
      TODO
      md-datepicker-container {
        width: 100%;
        .md-datepicker-input-container {
            margin-left: 0;
        }
      }
      */

      .main-filter-bar {
        height: 40px; /* Largest height between inputs, buttons, icons */

        .mat-input-infix {
          padding-bottom: 0.3em;
        }

        .mat-input-prefix, .mat-input-suffix {
          align-self: flex-end;
          display: flex;
          align-items: center;

          white-space: nowrap;
          z-index: 50;

          mat-icon, span {
            cursor: pointer;
            color: rgba(0, 0, 0, 0.54);
            //background: #fff;
            //height: 22px;
            //
            //i {
            //  transform: scale(.9);
            //  vertical-align: middle;
            //}

            &:hover {
              color: inherit;
            }
          }
        }

        //mat-form-field {
        //  width: 100%;
        //  /*
        //  input {
        //    padding-right: 26px;
        //    padding-left: 26px;
        //    position: relative;
        //  }
        //  */
        //}
      }

      .filters {
        position: absolute;
        min-width: 400px;
        width: 100%;
        display: block;
        visibility: hidden;
        left: 0%;
        //display: none;

        .wrap {
          padding: 8px 17px 17px 17px;
          background: #fff;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          overflow: auto;
        }

        .filter-group {
          display: table-row-group;
          width: 100%;
        }

        .filter {
          display: table-row;

          .interface {

            &.interface-checkbox, &.interface {
              .checkbox-label {
                display: none;
              }
            }

            &.interface-range input, &.interface-range .mat-input-wrapper {
              text-align: center;
            }

            &.interface-range {
              text-align: center;
            }

            //TODO
            &.interface-datetime fs-datetime.has-time .md-input {
              width: 100%;
            }
            //TODO
            fs-datetime-range input {
              text-align: center;
            }
          }

          .interface,
          .filter-label {
            display: table-cell;
          }

          .filter-label {
            width: 1%;
            white-space: nowrap;
            vertical-align: middle;
            padding-right: 15px;
          }
        }

        //TODO
        md-autocomplete-container md-input-container {
          margin: 0;
        }

        .isolate {
          .interface {
            line-height: 20px;
            padding-top: 5px;
          }
          //TODO
          md-checkbox {
            margin: 0 0 0 2px;
          }
        }

        .buttons {
          padding-top: 15px;
          .filter-button,
          .cancel-button {
            margin: 0;
          }

          .cancel-button {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .filter {

    margin-right: 15px;
    display: inline-block;
    //TODO
    label {
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.54);
    }

    &.filter-range {
      mat-form-field {
        min-width: initial;
        width: 50px;
        &.filter-range-min {
          margin-right: 5px;
        }
      }
    }
  }

  .infinite-records {
    color: #999;
    font-size: 13px;
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    .order-toggle {
      cursor: pointer;
      padding-left: 4px;
    }

    .saved-filters {
      float: right;
      display: flex;
    }
  }

  //TODO
  .md-datepicker-calendar-pane {
    margin-left: -10px;
  }

  .saved-filter-menu {
    padding-top: 0;
    .my-saved-filters {
      line-height: 50px;
      padding: 0 10px;
      font-weight: bold;
    }
  }

  &.filters-open {
    .inline-actions {
      z-index: 71;
    }

    .main-filter-bar md-input-container input,
    .menu-filter-input .filters {
      z-index: 70;
      //display: block;
      visibility: visible;
    }
  }
}

.menu-filter-input .filters {
  margin-top: 15px;
}

.main-filter-bar {
  overflow: hidden;
  form {
    width: 100%;
  }
  .filter-input {
    .mat-form-field-underline {
      bottom: auto;
    }
    .mat-form-field-infix {
      border-top: 0;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-suffix .mat-icon {
      margin-left: 2px;
    }
  }
}

@media screen and (max-width: 750px) {
  .fs-filter {
    .saved-filters {
      float: none;
    }
  }
}

@media screen and (min-width: 600px) {
  .mat-input-container {
    mat-label {
      display: none;
    }
  }
  .inline-filter {
    &.inline {
      .mat-input-container {
        mat-label {
          display: inherit;
        }
      }
    }
  }
}

.active-filters-counter {
  &.with-input {
    display: none;
  }

  color: #9d9d9d;
  font-size: 14px;
}

@media screen and (max-width: 599px) {

  body.fs-filter-open {
    overflow: hidden !important;

    .inline-actions {
      display: none;
    }

    .wrap {
      animation: slideInRight 300ms;
    }
  }

  .filter-button {
    display: none;
  }

  .fs-filter {
    margin-top: 0;

    .title {
      display: block;
      /*
      fs-heading {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      */
    }
  }

  .responsive-top-actions {
    display: block;
  }

  .filter-by {
    //display: block;
    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: 600;
      font-size: 20px;
      margin: 25px 0;
    }

    .actions {
      display: inherit;
      margin: 25px 0;
    }

    button {
      float: right;
    }
  }

  .menu-filter {

    .menu-filter-input {
      .filters {
        z-index: 1000 !important;
        .wrap {
          position: fixed;
          width: 75vw;
          top: 0;
          bottom: 0;
          right: 0;
          overflow-y: auto;
          z-index: 999;
        }

        .filter-group {
          display: table !important;
        }

        .filter,
        .filter .filter-label,
        .filter .interface {
          display: block;
        }
        .interface-checkbox, .interface {
          .checkbox-label {
            display: block !important;
          }
        }
      }

      .filter-group {
        margin: 10px 0 0 0;

        &:first-child {
          margin: 0;
        }
      }

      .filter {
        .filter-label {
          display: none !important;
        }
      }
    }
  }
}
