<div class="filters">
  <div class="wrap">
    <!-- @TODO
                Mobal version of filters
                fs-heading
                heading-actions
              -->
    <div class="filter-by" fxLayout="row">
      <span class="text" fxFlex="grow">Filter By</span>
      <div class="actions actions-xs">
        <button type="button" mat-raised-button color="primary" (click)="doSearch()">Search</button>
        <button type="button" mat-button color="primary" (click)="clearAll()">Clear</button>
      </div>
    </div>

    <filter-item *ngFor="let filterItem of items"
                 class="filter-group"
                 [item]="filterItem"
                 (itemChanged)="filterChange($event)">
    </filter-item>

    <ng-container *ngIf="sortBy && sortBy.values && sortBy.values.length > 0 && showSortBy">
      <filter-item class="filter-group sort"
                   [item]="sortBy"
                   (itemChanged)="filterChange($event)">
      </filter-item>
      <filter-item class="filter-group sort"
                   [item]="sortDirection"
                   (itemChanged)="filterChange($event)">
      </filter-item>
    </ng-container>
  </div>
</div>
