<mat-form-field *ngIf="item.mode===itemDateMode.Calendar; else elseMode">
  <mat-label>{{item.label}}</mat-label>
  <input
    matInput
    fsDatePicker
    [fsFilterFocusTrigger]="item"
    [(ngModel)]="item.model"
    [maxYear]="item.maxYear"
    [view]="viewType"
    [placeholder]="item.label"
    [clear]="item.showClear"
    [name]="item.name">
</mat-form-field>

<ng-template #elseMode>
  <mat-form-field>
    <mat-label>{{item.label}}</mat-label>
    <input 
      matInput
      fsDateScrollPicker
      [placeholder]="item.label"
      [fsFilterFocusTrigger]="item"
      [(ngModel)]="item.model"
      [maxYear]="item.maxYear"
      [showMonth]="showMonth"
      [showDay]="showDay"
      [showYear]="showYear"
      [clear]="item.showClear"
      [name]="item.name">
  </mat-form-field>
</ng-template>
