<mat-form-field *ngIf="item.mode===itemDateMode.Calendar; else elseMode">
  <mat-label>{{item.label}}</mat-label>
  <input matInput
         fsDatePicker
         [fsFilterFocusTrigger]="item"
         [(ngModel)]="item.model"
         [maxYear]="item.maxYear"
         [view]="viewType"
         [clear]="item.clearAllowed"
         [name]="item.name">
  <mat-placeholder *ngIf="inline">{{ item.label }}</mat-placeholder>
</mat-form-field>

<ng-template #elseMode>
  <mat-form-field>
    <mat-label>{{item.label}}</mat-label>

    <input matInput
          fsDateScrollPicker
          [fsFilterFocusTrigger]="item"
          [(ngModel)]="item.model"
          [showMonth]="showMonth"
          [showDay]="showDay"
          [showYear]="showYear"
          [clear]="item.clearAllowed"
          [maxDate]="maxDate"
          [name]="item.name">
    <mat-placeholder *ngIf="inline">{{ item.label }}</mat-placeholder>
  </mat-form-field>
</ng-template>
