<h1 mat-dialog-title>
  {{ pluralLabel }}
</h1>
<div mat-dialog-content>
  @if (savedFilters?.length) {
    <table class="fs-list-table">
      <thead>
        <tr>
          @if (orderable) {
            <th class="drag-col"></th>
          }
          <th>
            Name
          </th>
          <th>
            Filters
          </th>
          <th class="actions-column"></th>
        </tr>
      </thead>
      <tbody
          cdkDropList
          (cdkDropListDropped)="drop($event)">
        @for (savedFilter of savedFilters; track savedFilter.id) {
          <tr cdkDrag [cdkDragDisabled]="!orderable" cdkDragLockAxis="y" [cdkDragPreviewClass]="'saved-filter-drag-preview'">
            @if (orderable) {
              <td class="drag-col" cdkDragHandle>
                <mat-icon>drag_handle</mat-icon>
              </td>
            }
            <td>
              <a (click)="selectFilter(savedFilter)">
                {{ savedFilter.name }}
              </a>
            </td>
            <td>
              <fs-saved-filter-chips [savedFilter]="savedFilter"></fs-saved-filter-chips>
            </td>
            <td>
              <fs-menu>
                <ng-template
                    fs-menu-item
                    (click)="remove(savedFilter)">
                  Delete
                </ng-template>
              </fs-menu>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
<div mat-dialog-actions>
  <button
      mat-button
      color="primary"
      type="button"
      [mat-dialog-close]="null">
    Done
  </button>
</div>