<h1 mat-dialog-title>
  Manage saved filters
</h1>
<div mat-dialog-content>
  <div
      cdkDropList 
      [cdkDropListData]="savedFilters"
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="drop($event)">  
    <ng-container 
        *ngFor="let savedFilter of savedFilters">
      <div class="chip-container">
        <fs-chip 
            class="saved-filter-manage-chip"
            cdkDrag
            (removed)="remove(savedFilter)">
          {{savedFilter.name}}
        </fs-chip>
      </div>
    </ng-container>
  </div>
</div>
<div mat-dialog-actions>
  <button 
      mat-button
      color="primary"
      type="button"
      [mat-dialog-close]="null">
    Done
  </button>
</div>
