<!-- Buttons -->
<ng-container *ngFor="let action of actions">

  <ng-container [ngSwitch]="action.mode">
    <ng-container *ngSwitchCase="'button'">
      <fs-filter-action-button [action]="action"></fs-filter-action-button>
    </ng-container>

    <ng-container *ngSwitchCase="'menu'">
      <fs-filter-action-button
        [action]="action"
        [fsMenuTriggerFor]="someRef">
      </fs-filter-action-button>

      <fs-menu #someRef>
        <ng-container *ngFor="let childAction of action.items">
          <ng-container *ngIf="childAction.isGroup else simpleMenuItem">
            <fs-menu-group [label]="childAction.label">
              <ng-container *ngFor="let subAction of childAction.items">
                <ng-template fs-menu-item
                             [link]="subAction.routerLink?.link"
                             [queryParams]="subAction.routerLink?.queryParams"
                             [hidden]="!(subAction.visible$ | async)"
                             (click)="subAction.click($event)">
                  <mat-icon *ngIf="subAction.icon">{{subAction.icon}}</mat-icon>
                  {{subAction.label}}
                </ng-template>
              </ng-container>
            </fs-menu-group>
          </ng-container>
          <ng-template #simpleMenuItem>
            <ng-template fs-menu-item
                         [link]="childAction.routerLink?.link"
                         [queryParams]="childAction.routerLink?.queryParams"
                         [hidden]="!(childAction.visible$ | async)"
                         (click)="childAction.click($event);">
              <mat-icon *ngIf="childAction.icon">{{childAction.icon}}</mat-icon>
              {{childAction.label}}
            </ng-template>
          </ng-template>
        </ng-container>
      </fs-menu>
    </ng-container>

    <ng-container *ngSwitchCase="'file'">
      <fs-file
        class="action-button"
        [multiple]="action.multiple"
        (select)="action.fileSelected($event)"
        (error)="action.fileError($event)"
        (clicked)="action.click($event)">
        <fs-filter-action-button [action]="action"></fs-filter-action-button>
      </fs-file>
    </ng-container>
  </ng-container>
</ng-container>
<!-- /Buttons -->

<!-- menu -->
<ng-container *ngIf="kebabActions?.length">
  <fs-filter-action-kebab-actions [kebabActions]="kebabActions"></fs-filter-action-kebab-actions>
</ng-container>
