:host {
  display: inline-flex;
}

.action-button {
  display: block;
}

.action-button + .action-button,
fs-menu + .action-button {
  margin-left: 5px;
}

.menu-button {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
