<button
  type="button"
  mat-icon-button
  class="menu-button"
  [fsMenuTriggerFor]="kebabActionsMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<fs-menu #kebabActionsMenu>
  @for (action of kebabActions; track action) {
    @switch (action.mode) {
      <!-- Case when actions was collapsed from action with mode = 'menu'-->
      @case ('menu') {
        @for (childAction of action.items; track childAction) {
          @if (childAction.isGroup) {
            <fs-menu-group>
              <ng-template fs-group-menu-item-template>
                {{ action.label }} <mat-icon style="margin: 0;">arrow_right</mat-icon> {{childAction.label}}
              </ng-template>
              @for (subAction of childAction.items; track subAction) {
                <ng-template
                  fs-menu-item
                  [link]="subAction.routerLink?.link"
                  [queryParams]="subAction.routerLink?.queryParams"
                  [hidden]="!(subAction.visible$ | async)"
                  (click)="actionClick(subAction, $event)">
                  @if (subAction.icon) {
                    <mat-icon>{{subAction.icon}}</mat-icon>
                  }
                  {{subAction.label}}
                </ng-template>
              }
            </fs-menu-group>
          } @else {
            <ng-template
              fs-menu-item
              [link]="childAction.routerLink?.link"
              [queryParams]="childAction.routerLink?.queryParams"
              [hidden]="!(childAction.visible$ | async)"
              (click)="actionClick(childAction, $event)">
              @if (childAction.icon) {
                <mat-icon>{{childAction.icon}}</mat-icon>
              }
              {{ action.label }} <mat-icon style="margin: 0;">arrow_right</mat-icon>{{ childAction.label }}
            </ng-template>
          }
        }
      }
      @case ('file') {
        <ng-template
          fs-menu-file-item
          [fsClass]="action.classArray"
          [multiple]="action.multiple"
          [accept]="action.accept || '*'"
          [minWidth]="action.minWidth"
          [minHeight]="action.minHeight"
          [imageWidth]="action.maxWidth"
          [imageHeight]="action.maxHeight"
          (error)="action.fileError($event)"
          (select)="action.fileSelected($event)"
          (click)="action.click($event)">
          @if (action.icon) {
            <mat-icon>{{action.icon}}</mat-icon>
            } {{action.label}}
          </ng-template>
        }
        @default {
          <ng-template
            fs-menu-item
            (click)="action.click($event)"
            [fsClass]="action.classArray">
            @if (action.icon) {
              <mat-icon>{{action.icon}}</mat-icon>
              } {{action.label}}
            </ng-template>
          }
        }
      }
    </fs-menu>
