@if (item.visible$ | async) {
  <div class="filter filter-{{ item.type }}">
    @switch (item.type) {
      @case (itemType.Text) {
        <filter-item-text
          class="interface"
          [item]="textItem">
        </filter-item-text>
      }
      @case (itemType.Select) {
        <filter-item-select
          class="interface"
          [item]="baseSelectItem">
        </filter-item-select>
      }
      @case (itemType.Chips) {
        <filter-item-chips
          class="interface"
          [item]="chipsItem">
        </filter-item-chips>
      }
      @case (itemType.Range) {
        <filter-item-range
          class="interface interface-range"
          [item]="rangeItem">
        </filter-item-range>
      }
      @case (itemType.AutoComplete) {
        <filter-item-autocomplete
          class="interface"
          [item]="autocompleteItem">
        </filter-item-autocomplete>
      }
      @case (itemType.AutoCompleteChips) {
        <filter-item-autocompletechips
          class="interface"
          [item]="autocompleteChipsItem">
        </filter-item-autocompletechips>
      }
      @case (itemType.Date) {
        <filter-item-date
          class="interface interface-date"
          [item]="dateItem">
        </filter-item-date>
      }
      @case (itemType.DateTime) {
        <filter-item-date
          class="interface interface-date"
          [item]="dateTimeItem">
        </filter-item-date>
      }
      @case (itemType.DateRange) {
        <filter-item-date-range
          class="interface interface-date"
          [item]="dateRangeItem">
        </filter-item-date-range>
      }
      @case (itemType.DateTimeRange) {
        <filter-item-date-range
          class="interface interface-date"
          [item]="dateTimeRangeItem">
        </filter-item-date-range>
      }
      @case (itemType.Week) {
        <filter-item-week
          class="interface"
          [item]="weekItem">
        </filter-item-week>
      }
      @case (itemType.Checkbox) {
        <filter-item-checkbox
          class="interface interface-checkbox"
          [item]="checkboxItem">
        </filter-item-checkbox>
      }
    }
  </div>
}