
:host ::ng-deep {
  mat-form-field {
    margin-top: 0 !important;

    .mat-form-field-prefix, 
    .mat-form-field-suffix {     
      .text-prefix, 
      .text-suffix {
        top: -.25em;
        position: relative;
      }  
    }  

    &:not(.mat-form-field-should-float) {
      .mat-form-field-prefix .text-prefix, 
      .mat-form-field-suffix .text-suffix {
        display: none;
      }   
    }
  }
} 