<mat-form-field floatLabel="auto">
  <mat-label>{{item.label}}</mat-label>
  <mat-select #select [(ngModel)]="item.model" (ngModelChange)="changed($event)">
    <ng-container *ngFor="let selectItem of item.values">
      <ng-container *ngIf="selectItem[item.children]; else simpleOption">
        <mat-optgroup [label]="selectItem.name">
          <mat-option *ngFor="let subItem of selectItem[item.children]"
                      [value]="subItem.value"
                      [ngStyle]="selectItem.style">
            {{ subItem.name }}
          </mat-option>
        </mat-optgroup>
      </ng-container>

      <ng-template #simpleOption>
        <mat-option [value]="selectItem.value" [ngStyle]="selectItem.style">
          {{ selectItem.name }}
        </mat-option>
      </ng-template>
    </ng-container>
  </mat-select>
</mat-form-field>
<filter-item-select-backdrop *ngIf="select.panelOpen" (click)="select.close()"></filter-item-select-backdrop>