<div class="filters">
  <div class="wrap">
    <div class="filter-items">
      <!-- @TODO
                Mobal version of filters
                fs-heading
                heading-actions
              -->
      <div class="filter-by">
        <mat-icon>filter_list</mat-icon>
        <span class="text">Filter By</span>
      </div>

      <filter-item *ngFor="let filterItem of items"
                   class="filter-group"
                   [item]="filterItem"
                   (itemChanged)="filterChange($event)">
      </filter-item>

      <ng-container *ngIf="sortBy && sortBy.values && sortBy.values.length > 0 && showSortBy">
        <filter-item class="filter-group sort"
                     [item]="sortBy"
                     (itemChanged)="filterChange($event)">
        </filter-item>
        <filter-item class="filter-group sort"
                     [item]="sortDirection"
                     (itemChanged)="filterChange($event)">
        </filter-item>
      </ng-container>
    </div>

    <div class="actions">
      <button type="button" mat-button color="primary" (click)="doSearch()">Search</button>
      <button type="button" mat-button (click)="clearAll()">Clear</button>
    </div>
  </div>
</div>
